<h1>Stupid Questions get Stupid Answers</h1>
<p>Hello this is your Stupid Coach</p>

<div class="form">
    <form action="/answer" method="get">
        <input class="box" type="text" name="question">
        <input class="btn" type="submit" value="Ask!">
    </form>
</div>
